/****loader*****/

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader__animation {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: cadetblue;
    display: inline-block;
    animation: scaling 2s ease-in-out infinite;
} 

@keyframes scaling{
    0%{
        transform: scale(0.2);
        background-color: #9356DC;
    }
    50%{
        transform: scale(0.5);
        background-color: #FF79DA;
    }
    100%{
        transform: scale(1);
        background-color: #99E2D0;
    }
}


.loader__animation:nth-child(0){
    animation-delay: 0s;
}
.loader__animation:nth-child(1){
    animation-delay: 0.2s;
}
.loader__animation:nth-child(2){
    animation-delay: 0.4s;
}

.loader {
    z-index: -5;
    opacity: 0;
}

/*****fonts*****/


h1, h5 {
    font-family: 'Shrikhand', cursive;
}
span, p, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: auto;
    padding: 5px;
    max-width: 180px;

}

/***location***/

.location {
    display: flex;
    justify-content: center;
    background-color: #f0efef;
    padding: 13px;
    margin-top: -3px; 
    -webkit-box-shadow: inset 0em 3px 3px 0px #dddddded;
          box-shadow: inset 0em 3px 3px 0px #dddddde7;  
    font-size: 13px;    
}
.location .fas{
    margin-right: 6px;
}

/**presentation**/

.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.presentation__catchword{
    font-size: 21px;
    text-align: center;
}

.presentation__description{
    font-size: 19px;
    text-align: center;
    color: rgb(99, 98, 100);
    padding-bottom: 30px;
}

.presentation button{
    background-image: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
    border-radius: 2.5em;
    height: 50px;
    width: 60%;
    color: whitesmoke;
    border: transparent;
    transition-property: transform;
    transition-duration: 1000ms;
    margin-top: -21px;
}

.presentation button:hover{
    -webkit-transform: scale(1.05);
          transform: scale(1.05);
    -webkit-box-shadow: 6px 6px 6px 2px grey;
          box-shadow: 6px 6px 6px 2px grey;
          -webkit-filter: brightness(105%);
          filter: brightness(105%);
          

}

/****operation****/

.operation {
    height: 430px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    background: white;
  }

  
  
  .operation .order_operation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .operation .order_operation button {
    width: 80%;
    height: 60px;
    border-radius: 1.3em;
    border: transparent;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 50px;
    font-size: 1em;
    -webkit-box-shadow: 1px 3px 6px 2px rgba(12, 11, 11, 0.2);
            box-shadow: 1px 3px 6px 2px rgba(12, 11, 11, 0.2);
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 1000ms;
            transition-duration: 1000ms;
    position: relative;
  }
  
  .operation .order_operation button:hover {
    -webkit-filter: brightness(110%);
            filter: brightness(110%);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 1px 3px 6px 2px grey;
            box-shadow: 1px 3px 6px 2px grey;
    background-color: rgb(228, 212, 243);
  }
  
  .operation .order_operation button .fas {
    padding: 0 10px;
  }
  
  .operation .order_operation .operation__step_1::before {
    content: "1";
    font-size: 17px;
    position: absolute;
    height: 22px;
    width: 24px;
    left: -3px;
    color: white;
    border-radius: 2em;
    background-color: #9356dc;
  }
  
  .operation .order_operation .operation__step_2::before {
    content: "2";
    font-size: 17px;
    position: absolute;
    height: 22px;
    width: 24px;
    left: -3px;
    color: white;
    border-radius: 2em;
    background-color: #9356dc;
  }
  
  .operation .order_operation .operation__step_3::before {
    content: "3";
    font-size: 17px;
    position: absolute;
    height: 22px;
    width: 24px;
    left: -3px;
    color: white;
    border-radius: 2em;
    background-color: #9356dc;
  }

  /*****restaurants*****/

  .resto {
    margin: 20px 1px;
    padding-top: 18px;
    font-size: 26px;
  }

  .restaurants{
    margin-bottom: 100px;
  }



  .block_menu_card {
    height: 280px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: normal;
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: -2px 3px 6px 2px rgb(182, 185, 185);
}
.block_menu_card_content {
  background: #e9e9e9;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 40px;
  align-self: flex-end;
  padding: 12px;    
  position: relative;
  border-radius: 0px 0px 20px 20px ;
}
h4.block_menu_card_title {
  margin: 0;
  padding: 0;
  color: black;
  align-self: flex-start;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

p.block_menu_card_location {
  margin: 0;
  padding: 0;
  color: black;
  align-self: flex-start;
}

.block_menu_card_button.btn_new {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 15px;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 14px;
  background: rgb(156, 240, 208);
  color:rgb(63, 153, 141)
}
.block_btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto 15px;
  height: 22px;
  width: 21px;
  font-size: 20px;
  text-align: center;
  overflow: hidden;
}

.block_btn:hover .far, .block_btn .fas {
  display: none;
}
.block_btn:hover .fas {
  display: block;
  color: #7126a3e7;
}

/*****footer*****/

.footer_link{
  background-color: #413d3d;
  padding: 10px 40px 30px;
  height: 166px;
  margin-left: -8px;
  margin-right: -15px;
  list-style-type: none;
  color: #e9e9e9;
}

footer .footer_link ul li a{
  text-decoration:none ;
  color: #f3eaea;
}