/****loader*****/

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader__animation {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: cadetblue;
    display: inline-block;
    animation: scaling 2s ease-in-out infinite;
} 

@keyframes scaling{
    0%{
        transform: scale(0.2);
        background-color: #9356DC;
    }
    50%{
        transform: scale(0.5);
        background-color: #FF79DA;
    }
    100%{
        transform: scale(1);
        background-color: #99E2D0;
    }
}


.loader__animation:nth-child(0){
    animation-delay: 0s;
}
.loader__animation:nth-child(1){
    animation-delay: 0.2s;
}
.loader__animation:nth-child(2){
    animation-delay: 0.4s;
}

.loader {
    z-index: -5;
    opacity: 0;
}

/*****fonts*****/


h1, h5 {
    font-family: 'Shrikhand', cursive;
}
span, p, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: auto;
    padding: 5px;
    max-width: 180px;

}

/***location***/

.location {
    display: flex;
    justify-content: center;
    background-color: #f0efef;
    padding: 13px;
    margin-top: -3px; 
    -webkit-box-shadow: inset 0em 3px 3px 0px #dddddded;
          box-shadow: inset 0em 3px 3px 0px #dddddde7;  
    font-size: 13px;    
}
.location .fas{
    margin-right: 6px;
}

/**presentation**/

.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation__catchword{
    font-size: 21px;
    text-align: center;
}

.presentation__description{
    font-size: 19px;
    text-align: center;
    color: rgb(99, 98, 100);
    padding-bottom: 30px;
}

.presentation button{
    background-image: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
    border-radius: 2.5em;
    height: 50px;
    width: 60%;
    color: whitesmoke;
    border: transparent;
    transition-property: transform;
    transition-duration: 1000ms;
}

.presentation button:hover{
    -webkit-transform: scale(1.05);
          transform: scale(1.05);
    -webkit-box-shadow: 6px 6px 6px 2px grey;
          box-shadow: 6px 6px 6px 2px grey;

}